<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet"/>
    <style>
        @import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
    </style>
    <title>Calculator</title>
</head>
<body>
    <div class="container">
        <h1>Calculator</h1>
        <div class="calc-box">
            <div class="form">
                <input type="text" name="equation" id="equation" placeholder="Enter an Equation">
                <div class="row">
                    <div class="col-1">
                        <div class="col-1-row">
                            <button onclick="appendToEquation('9')">9</button>
                            <button onclick="appendToEquation('8')">8</button>
                            <button onclick="appendToEquation('7')">7</button>
                        </div>
                        <div class="col-1-row">
                            <button onclick="appendToEquation('6')">6</button>
                            <button onclick="appendToEquation('5')">5</button>
                            <button onclick="appendToEquation('4')">4</button>
                        </div>
                        <div class="col-1-row">
                            <button onclick="appendToEquation('3')">3</button>
                            <button onclick="appendToEquation('2')">2</button>
                            <button onclick="appendToEquation('1')">1</button>
                        </div>
                        <div class="col-1-row">
                            <button onclick="appendToEquation(',')">,</button>
                            <button onclick="appendToEquation('0')">0</button>
                            <button onclick="appendToEquation('%')">%</button>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="col-2-row">
                            <button onclick="clearEquation()">DEL</button>
                            <button onclick="remove()">RM</button> 
                        </div>                   
                        <div class="col-2-row">
                            <button onclick="appendToEquation('+')">+</button>
                            <button onclick="appendToEquation('-')">-</button>
                        </div>
                        <div class="col-2-row">
                            <button onclick="appendToEquation('/')">/</button>
                            <button onclick="appendToEquation('*')">*</button> 
                        </div>                   
                        <div class="col-2-row">
                            <button>MOD</button>
                            <button onclick="calculate()">EXE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>